@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../fonts/anton/Anton-Regular.ttf');
}

@font-face {
    font-family: Josefin;
    src: url('../fonts/josefin_sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: Lexend;
    src: url('../fonts/lexend/Lexend-Regular.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('../fonts/livvic/Livvic-Regular.ttf');
}